html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;

}

* {
  box-sizing: border-box;
}

.header {
  color: cornflowerblue;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.header>ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.latest,
.taxCalculator,
.balDue,
.notes,
.displayNote,
.cars,
.carCard,
.singleCar {
  padding: 1.5rem;
  color: cornflowerblue;
}

.singleCar {
  align-self: center;
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-left: 10vw;
}

.note {
  padding: 1rem;
  border: 1px solid yellow;
}

.taxCalcForm {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.taxCalcResults {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 1.5rem;
}

.carCard>a {
  color: red;
  border: 1px solid red;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}