html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.header>ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.latest,
.taxCalculator,
.balDue,
.notes {
  padding: 1.5rem;
}

.note {
  padding: 1rem;
}

.taxCalcForm {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.taxCalcResults {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 1.5rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}